@using Model
@model Model.SysAdmin

@{
    Layout = null;
}
<h2>教务管理系统登录</h2>
<br /><br />
@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.LoginId)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.LoginId)
                @Html.ValidationMessageFor(m => m.LoginId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.LoginPwd)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.LoginPwd)
                @Html.ValidationMessageFor(m => m.LoginPwd)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RemenberMe)
                @Html.LabelFor(m => m.RemenberMe)
            </div>
            <p>
                <input type="submit" value="Log On" />
            </p>
        </fieldset>
    </div>
}
